body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  color: #2c7be5;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background: #2c7be5;
  color: white;
  border: none;
  margin-top: 15px;
}

#hasil {
  background: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
}